@import 'bootstrap.min.css';

@font-face 
{
  	font-family: 'pfdinstencil';
  	src: url("/assets/fonts/PFDinStencil-Bold.eot");
  	src: local("Ôÿ║"), url("/assets/fonts/PFDinStencil-Bold.woff2") format("woff2"), url("/assets/fonts/PFDinStencil-Bold.woff") format("woff"), url("/assets/PFDinStencil-Bold.ttf") format("truetype");
  	font-weight: bold; 
}

body, html 
{
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  background-color: #f0f2f5;
}

body 
{
  font-family: 'pfdinstencil';
  font-size: 1.6em;
  font-weight: 400;
  color: #44525f;
  background-image: url('/assets/images/layout/map-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  height: 100vh;
}

ul 
{
  padding: 0;
  margin: 0;
  list-style: none;
}

a 
{ 
  text-decoration: none;
  color: #2d385e;
}

a:focus 
{
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'pfdinstencil';
  color: #2d385e;
}

a, a:hover, a:focus 
{
  color: #4f77ff;
}

.pz-logo 
{
  margin: 50px auto;
}

.panel-login-left 
{
  background-color: rgba(255,255,255,0.92);
  height: 100vh;
}

.panel-map-right 
{
  background-color: rgb(45, 56, 94, 0.9);
  color: #fff;
  height: 100vh;
}

.panel-login-form 
{
  min-height: 350px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}


.panel-login-form-container
{
   padding-left: 40px;
   padding-right: 40px;
}

.login-realm
{
  margin-bottom: 50px;
}

.panel-login-form-container .login-realm-title
{
  font-weight: 700;
  margin-top: 0px;
}
    
.panel-login-form-container .form-control
{ 
  background-color: #fff;
  color: #333333;
  font-size: 18px;
  font-family:verdana;
  height: 50px;
  margin-bottom: 20px;
  padding: 12px 22px;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1),0 0 2px 0 rgba(0,0,0,0.1);
  border: solid 1px #bcc2ce;
  outline: none;
}

.panel-login-form-container .form-control:focus
{
  border-color: #4f77ff;
  z-index: 2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form-submit
{
  padding-top:40px;
}


@media (max-width: 767px) 
{
  /* .panel-login-left  {height: 100%; width:100%;} */
}
