/**
 * File ...........: prov-zeeland.css
 * Size ...........: 482 bytes
 * Last modified ..: 16-04-2020 07:44:58
 */
.nav > li.active 
{
    border-left: 4px solid #C2004B;
    background: #293846;
}

.btn-zeeland-red 
{
    color: #fff;
    background-color: #C2004B;
}

.btn-zeeland-blue
{
    color: #fff;
    background-color: #369;
}

.btn-zeeland-grey
{
    color: #fff;
    background-color: #5e5e5e;
}

.pace .pace-progress 
{
    background: #C2004B !important;
}    

.nav > li > a span 
{
    margin-right: 6px;
}

.list-title
{
    font-weight:bold; 
    font-size:13px; 
    color:#676a6c;
}

body.mini-navbar .nav-header 
{
    background-color: #2f4050;
}

.nav-tabs .nav-link.active
{
    border-bottom: 2px solid #C2004B !important;	
}

.form-control:focus, .single-line:focus 
{
    border-color: #C2004B !important;
}

.hr-line-dashed 
{
    margin: 15px 0 !important;
}

.form-checkbox
{
    margin-top:10px !important;
}

.form-devider
{
}

.devider_caption_14 
{
    font-weight: 600;
    color: #C2004B;
    text-transform: uppercase;
}


.field-display-only 
{
    border:0px !important;
    padding-left: 2px !important;
}

.field-red
{
    color: #C2004B;
}